bookstore-webtesting/*.class
bookstore-webtesting/*.swp
bookstore-webtesting/Libs/TempTestCase*
bookstore-webtesting/Libs/TempTestSuite*
bookstore-webtesting/bin/lib/TempTestCase*
bookstore-webtesting/Reports/
bookstore-webtesting\.classpath
bookstore-webtesting\.project
bookstore-webtesting\.settings/
bookstore-webtesting/bin/lib/